body {
    font-family: 'Gentium Book Plus', serif;
}
.top-part {
    display:flex;
    width: 80%;
    margin: 20px 12%;
}
#skip-color {
    color: chocolate;
}
.half-width h1 {
    font-size: 40px;
}
.mid-part {
    display:flex;
    width: 80%;
    margin: 20px 12%;
}
.mid-bannar {
background-image: url(images/shapes/7.png);
background-repeat: no-repeat;
}
.top-part img {
    width: 450px;
}
.mid-part img {
    width: 450px;
}
.bottom-part-image-01 img {
    width: 400px;
}

.bottom-part-image-02 img {
    width: 400px;
    
}

.mid-part-2 {
    text-align:center;
    width: 80%;
    margin: 20px 12%;
}
.top-para {
    padding-top: 0;
    padding-left: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
}
#food-button {
    margin: 10px 20px;
}
.half-width {
    width: 50%;
}
.food-order-button {
    text-decoration: none;
    background-color: chocolate;
    padding: 10px 30px;
    border-radius: 8px;
    color:black;
    background-image: linear-gradient(orange,tomato);
}
.bottom-part {
    display: flex;
    width: 80%;
    margin:20px 12%;
}
.box-border-1 {
    border-radius: 10px;
    width: 45%;
    margin:3%;
    padding: 10px;
    border-left: 7px solid yellow;
    box-shadow: 10px 10px 30px gray;
}
.box-border-2 {
    border-radius: 10px;
    width: 45%;
    margin:3%;
    padding: 10px;
    border-left: 7px solid orange;
    box-shadow: 10px 10px 30px gray;
}
.footer-part{
    border: solid wheat;
    border-radius: 10px;
    box-shadow: 10x 10px 20px lightgoldenrodyellow;
    display: flex;
    width: 77%;
    margin:20px 12%;
}
.footer-width {
    text-align: center;
    width: 30%;
}
.footer-width h1 {
    font-size: 40px;

}
.footer-two {
    color: gray;
    text-align:center;
    width: 78%;
    border: solid black;
    background-color: black;
    margin:20px 12%;
}
