body {
    font-family: 'Gentium Book Plus', serif;
}
.top-part {
    display:flex;
    width: 80%;
    margin: 20px 12%;
}
#skip-color {
    color: chocolate;
}
.half-width h1 {
    font-size: 40px;
}
.mid-part {
    display:flex;
    width: 80%;
    margin: 20px 12%;
}
.top-part img {
    width: 450px;
}
.mid-part img {
    width: 450px;
}
.bottom-part-image-01 img {
    width: 300px;
}

.bottom-part-image-02 img {
    width: 300px;
}
.bottom-part {
    display: flex;
    width: 80%;
    margin: 20px 12%;
}
.mid-part-2 {
    text-align:center;
    width: 80%;
    margin: 20px 12%;
}
.top-para {
    padding-top: 0;
    padding-left: 0;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
}
#food-button {
    margin: 10px 20px;
}
.half-width {
    width: 50%;
}
.food-order-button {
    text-decoration: none;
    background-color: chocolate;
    padding: 10px 30px;
    border-radius: 8px;
    color:black;
    background-image: linear-gradient(orange,tomato);
}