.top-part {
    display:flex;
    width: 70%;
}
.mid-part {
    display:flex;
    width: 70%;
}
.top-part img {
    width: 450px;
}
.mid-part img {
    width: 450px;
}
.bottom-part-image-01 img {
    width: 300px;
}

.bottom-part-image-02 img {
    width: 300px;
}
.bottom-part {
    display: flex;
}
.mid-part-2 {
    text-align:center;
}